body {
    background-color: #3F3771;
    padding: 20px;
}
/**
Customização para as paginas de pontuação e de exibição das questões
**/
.botoes-customizacao {
    border-radius: 20px;
    color: #3F3771;
    background-color:white;
   
}
.tamanho-area-quest{
    width: 920px;
    height: 560px;
    background-color: white;
    margin:5px 0px;
    position: relative;
}
.customizar-row{
    border: solid white 1px;
}
